<!DOCTYPE html>
<html lang="en">

<head>
    <title>kumaran Private Limited</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel = "icon" href ="/static/img/titleicon.png" type = "image/x-icon"> 
              
</head>

<body>
    <div class="container">
    <div class="banner">
       <h1> kumaran Private Limited</h1>
    </div>
    <div class="menu">
        <div class="menuitem"><a href="/home">Home</a></div> 
        <div class="menuitem"><a href="/products">Products</a></div> 
        <div class="menuitem"><a href="/people">People</a></div>
        <div class="menuitem"><a href="/contactus">Contact Us</a></div> 
    </div><div class="content">
    
    <div class="productcontent">    
    <h1>Contact Us</h1> 
    <div class="productitems">
        <div class="productitem"> 
            <div class="contactname"><h1>E-MAIL : kumaran@gmail.com</h1></div>
            <div class="contactprice"><h1> Contact No : 7305179692 </h1></div>
        </div>
        <div class="productitem"></div>
        <div class="productitem"> 
            <div class="contactimage">
            <img src="/static/img/silican"  alt="product image">
            </div>
        </div>
    </div>
    </div> 

    </div>
    <div class="footer">
        Copyright © 2020 Kumaran Private Limited, Developed by KUMARAN.↩
    </div>
    </div>
</body>

</html>