{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Peoples</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/founder.jpg" alt="product image">
            </div>
            <div class="itemname">Anoop handa</div>
            <div class="itemprice">founder </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/ceo.jpg"  alt="product image">
            </div>
            <div class="itemname">sathya pradan</div>
            <div class="itemprice">Ceo </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/manager.jpg"  alt="product image">
            </div>
            <div class="itemname">sahoo</div>
            <div class="itemprice">Manager </div>
        </div>
        
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/amanager.jpg" alt="product image">
            </div>
            <div class="itemname">kamal buddha</div>
            <div class="itemprice">Assistant Manager </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/supervisor.jpg" alt="product image">
            </div>
            <div class="itemname">brando</div>
            <div class="itemprice">supervisor </div>
        </div>
  
      
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/asupervisor.jpg" alt="product image">
            </div>
            <div class="itemname">Parko sateesh</div>
            <div class="itemprice">assitant supervisor </div>
        </div>
    </div>
    </div>
{% endblock  %}